<%= erb(:head) %>

<h1 class="titleGameview"> Partida</h1>

<form method="get" action="/restartGame">
      <button class="btn btn-danger" id='restartButton'> Reiniciar </button>
</form>

<form method="get" action="/abandonGame">
      <button class="btn btn-danger" id='abandonButton'> Abandonar </button>
</form>


<div class="right-align">
      <h2 id="Score"> Puntaje </h2><hr>
      <div class = 'playersInfo'> 
            <% for i in 0..(@numPlayers.to_i - 1) do %>
            
                  <% if @currentPlayer.getName == @players[i].getName %>
                        <h3 id="player-name" class="currentTurn"> <%= @players[i].getName  %> : <%= @players[i].getScore %></h3>
                  <%else%>
                        <h3 id="player-name"> <%= @players[i].getName  %> : <%= @players[i].getScore %> </h3> 
                  <% end %>
           
             <% end %>
       </div><hr>
        <form class="jugada" method="post" action="/move">
                  <h3>Añadir Linea</h3><br>
                  <label>Fila: </label>
                  <input name="positionRow" placeholder="Posicion fila" type='number' min='0' max='3' class='inputGame'><br><br>
                  <label>Columna: </label>
                  <input name="positionColumn" placeholder="Posicion columna" type='number' min='0' max='3' class='inputGame'> <br><br>

                  <select name="lineLocation" class='custom-select' style='width:100px;'>
                        <option value="up">Arriba</option>
                        <option value="down">Abajo</option>
                        <option value="left">Izquierda</option>
                        <option value="right">Derecha</option>
                  </select>

                  <input type ='submit' value='Agregar' class="btn btn-success" id='AddBtn'>
            </form>
</div>


<div class="boardContainer">
      <table id="board" >
            <%=@board%>
      </table>
</div>









      
     






