<%= erb(:head) %>

<div class="center" id = 'game-over' >
      <h1 style="margin-top: 10%;"> Ganaste!!! <%= @winner %> <h1> 
      <form method="get" action="/restartGame">
                 <button class='btn btn-info' style="margin-top: 5%;"> Jugar de nuevo </button>
      </form>
</div>