<%= erb(:head) %>

      <h1 id='configTitle'> Configuracion inicial </h1><br><hr>

      <div id='settings'> 
            <h3 id='boardSize'> - Tablero: 4 x 4</h3>
            <form method="get" action="/showRules">
                  <button class="btn btn-info" id='rulesBtn'> Mostrar Reglas </button>
            </form>
            <form method="get" action="/startGame">
      <label><h3>- Elije cantidad de jugadores: </h3></label>
            <select name="numberOfPlayers" class='custom-select' style='width:70px;'>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
            </select><br/>
            <input type ='submit' value='Empezar partida' class="btn btn-success" id='startGameBtn'>
      </form>
            
      </div>
      


      


