<%= erb(:head) %>

<div class="center" id = 'rules'>
      <h1 id='rulesTitle'> Reglas del juego </h1><hr><br>
      <p>El juego consiste en que los jugadores en su respectivo turno, marcan un lado de alguna casilla en el tablero.</p>
      <p>El jugador que cierra un cuadro, es decir, aquel que marca el ultimo lado de una casilla, se lleva un punto y vuelve a disponer del turno para poner marcar otro lado.</p>
      <p>El juego finaliza cuando ya no se pueden poner más segmentos.</p>
      <p>Gana aquel jugador que más cuadros ha cerrado.</p>
      <form method="get" action="/initialConfig">
                 <button class='btn btn-info' id='backBtn'> ⇦ Atras </button>
      </form>
      
</div>