<%= erb(:head) %>

<div class="container center">

    <h1>Bienvenido a Dots & Boxes</h1>
      <hr>
      <form method="get" action="/initialConfig" class="mainForm"><br>
        <input type ="submit" value="Iniciar Juego" class="btn btn-primary welcomeBnt">
      </form>

</div>