body {
    margin: 0%;
    height: auto;
}

.mainContainer {
    width: 70%;
    margin-top: 1%;
    margin-left: 15%;
    box-shadow: 0 0 15px 0 gray;
}

.container {
    width: inherit;
    height: inherit;
    margin-top: 10%;
}

.jumbotron {
    padding-top: 2%;
    padding-bottom: 2%;
}

.center {
    text-align: center;
}

.mainForm {
    width: auto;
    height: auto;
    margin-top: 20%;
}

table {
    width: 95%;
    height: 95%;
    margin: 2.5%;
}

td {
    background-color: #F2F2F2;
    padding: 15px;
    border: 1px solid gray;
    text-align: center;
    height: 100px;
    width: 100px;
}

.boardcontainer {
    padding: 10px;
    width: inherit;
    box-shadow: 0 0 15px 0 gray;
    border-radius: 10px;
    margin: 2%;
    margin-bottom: 0%;
    height: 90%;
}

.welcomeBnt {
    width: 35%;
}

.topSelected {
    border-top: 4px solid black;
}

.leftSelected {
    border-left: 4px solid black;
}

.rightSelected {
    border-right: 4px solid black;
}

.downSelected {
    border-bottom: 4px solid black;
}

.right-align {
    float: right;
}

.hidden {
    display: none;
}

.currentTurn {
    background-color: #87CEFA;
    border: 1px solid black;
    opacity: 0.9;
    border-radius: 10px;
    padding: 0.2em;
}

.titleGameview {
    width: 70%;
    margin-left: 2%;
    text-align: center;
}

.right-align {
    margin-top: 1%;
    text-align: center;
    width: 25%;
}

.jugada {
    margin-top: 7%;
}

#restartButton {
    position: absolute;
    right: 18%;
    margin-top: -3%;
}

#startGameBtn {
    position: absolute;
    top: 60%;
    left: 45%;
}

.mainContainer #configTitle {
    text-align: center;
}

#configTitle {
    position: relative;
    top: 5%;
}

#settings {
    position: relative;
    top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    height: 40%;
}

#rulesBtn {
    float: right;
    position: absolute;
    top: 0%;
    right: 0%;
}

.mainContainer p {
    text-align: left;
    display: list-item;
    margin-left: 5%;
    font-size: 20px;
}

#rules {
    padding: 2em;
    position: relative;
}

#backBtn {
    float: left;
    position: absolute;
    top: 11%;
    left: 6%;
}

.btn {
    font-size: 18px;
}

.btn:hover {
    font-size: 20px;
}

#game-over {
    margin-top: -5%;
    height: 100%;
    width: 100%;
    padding: 0%;
    background-image: url("https://bit.ly/2DZ26wL");
    background-size: contain;
    background-repeat: no-repeat;
}

.inputGame {
    width: 111px;
}

#abandonButton {
    position: absolute;
    left: 18%;
    margin-top: -4%;
}